@mixin heading-style($font-size, $font-weight: 600, $line-height, $letter-spacing) {
  @extend %font-family-primary;
  font-size: $font-size;
  font-weight: $font-weight;
  line-height: $line-height;
  letter-spacing: $letter-spacing;
}

@mixin btn-text($font-size: 12px, $font-weight: 600, $line-height: 130%, $letter-spacing: 0.05rem){
  @extend %font-family-primary;
  @extend %text-uppercase;
  font-size: $font-size;
  font-weight: $font-weight;
  line-height: $line-height;
  letter-spacing: $letter-spacing;
}