.header {
    &-navigation {

        &-list {
          display: flex;
          list-style: none;
          gap: 8px;
          padding-left: 0;
        }
        
        &__link {
          padding: 12px 20px;
          transition: color, background-color, 0.3s ease-in-out;
    
          &__active {
            border-radius: 12px;
            color: $color-primary;
            background-color: $color-primary-10;
            transition: color, background-color, 0.3s ease-in-out;
            cursor: not-allowed;
          }
    
          &:hover {
            border-radius: 12px;
            color: $color-primary;
            background-color: $color-primary-10;
            transition: color, background-color, 0.3s ease-in-out;
          }
        }
      }
}

