.slider {
  background-image: url("../image/bg-snow.png");
  background-color: $color-primary;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center, center;
  row-gap: 20px;

  &-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 12px;
    color: $color-static-white;
  }

  &-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    padding: 20px 0 0 82px;
    color: $color-static-white;
    row-gap: 20px;
  }

  &-track {
    display: flex;
    gap: 20px;
    &__item {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      column-gap: 20px;
    }

    &__image {
      width: 200px;
      height: 200px;
      border-radius: 20px;
    }
  }

  &-navigation {
    display: flex;
    max-width: 1440px;
    align-items: center;
    column-gap: 20px;
    justify-content: end;
    padding-right: 82px;
  }
}
