// Правила для шрифтов
@import url("https://fonts.googleapis.com/css2?family=Allura&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap");

h1 {
  @include heading-style(
    $font-size: 32px,
    $line-height: 150%,
    $letter-spacing: 0.35rem
  );
  @extend %text-uppercase;
}

h2 {
  @include heading-style(
    $font-size: 24px,
    $line-height: 152%,
    $letter-spacing: 0.24rem
  );
  @extend %text-uppercase;
}

h3 {
  @include heading-style(
    $font-size: 16px,
    $line-height: 152%,
    $letter-spacing: 0.08rem
  );
  @extend %text-uppercase;
}

h4 {
  @include btn-text;

  &.work {
    color: $color-tag-purple;
  }
  &.health {
    color: $color-tag-green;
  }
  &.harmony {
    color: $color-tag-pink;
  }
}

.btn-text {
  @include btn-text;
}

.header__text {
  @include heading-style(
    $font-size: 12px,
    $line-height: 130%,
    $letter-spacing: 0.05rem
  );
  @extend %text-uppercase;
  color: $color-dark;
}

p {
  @include heading-style(
    $font-size: 16px,
    $font-weight: 400,
    $line-height: 148%,
    $letter-spacing: 0rem
  );
}

.action-large {
  @include heading-style(
    $font-size: 24px,
    $line-height: 152%,
    $letter-spacing: 0.22rem
  );
  @extend %text-uppercase;
}

.action-small {
  @include heading-style(
    $font-size: 12px,
    $line-height: 130%,
    $letter-spacing: 0.05rem
  );
  @extend %text-uppercase;
}

.caption {
  @include heading-style(
    $font-size: 24px,
    $font-weight: 400,
    $line-height: 100%,
    $letter-spacing: 0.05rem
  );
  @extend %font-family-special;
}

.slider-text {
  @extend %text-uppercase;
  @extend %font-family-primary;
  font-size: 80px;
  font-weight: 600;
}
