// Плейсхолдер для font-family

%font-family-primary {
  font-family: $font-family-primary;
}

%font-family-special {
  font-family: $font-family-special;
}

%text-uppercase {
  text-transform: uppercase;
}